aiohttp
backoff
coloredlogs
flvlib3@https://github.com/zkonge/flvlib3/archive/master.zip
packaging
pydantic<2.0
pyunifiprotect @ https://github.com/bdraco/pyunifiprotect/archive/refs/heads/master.zip
reolinkapi
websockets>=9.0.1,<13.0
